
@{
    ViewBag.Title = "Love";
}
<br />
<div class="container" style="text-align:center">
    <!--Title-->
    <h1>LoveTips</h1>
</div>
<div class="container" style="text-align:center">
    <!--image 2-->
    <img src="~/Content/img/love icon.png" height="400px" />
</div>
<br />
<div class="container" style="text-align:center; background-color:mediumaquamarine">
    <p style="font-size: 25px">
        <!--Text-->
        Remove Dead Skin And Revitalize
        Your Face With An Organic Papaya
        Mask:
        Papaya acts as a gentle exfoliator that
        dissolves inactive protein and dead
        skin cells. Applying papaya topically
        to skin will soften your skin, leaving
        it smooth and supple.
    </p>
</div>
<br />
<a href="/List/Love"><button type="button" class="btn btn-warning">Back</button></a>