@{
    ViewBag.Title = "Home Page";
}
<br />
<a href="/List/Beauty">
    <div class="container rounded" style="background-color: mediumaquamarine">
        <div class="col-xs-9">
            <br />
            <br />
            <text style="color:white; font-size:30px">Organic Beauty Tips</text>
        </div>
        <div class="col-xs-3" style=" text-align:right">
            <img src="~/Content/img/beauty icon.png" style="height:100px" />
        </div>
    </div>
</a>
<br />
<a href="/List/Love">
    <div class="container rounded" style="background-color: mediumaquamarine">
        <div class="col-xs-9">
            <br />
            <br />
            <text style="color:white; font-size:30px">Love Tips</text>
        </div>
        <div class="col-xs-3" style=" text-align:right">
            <img src="~/Content/img/love icon.png" style="height:100px" />
        </div>
    </div>
</a>
<br />
<a href="/List/Entreprenuer">
    <div class="container rounded" style="background-color: mediumaquamarine">
        <div class="col-xs-9">
            <br />
            <br />
            <text style="color:white; font-size:30px">Entreprenuer Tips</text>
        </div>
        <div class="col-xs-3" style=" text-align:right">
            <img src="~/Content/img/entrepreneur icon.png" style="height:100px" />
        </div>
    </div>
</a>
<br />
<a href="/List/Travel">
    <div class="container rounded" style="background-color: mediumaquamarine">
        <div class="col-xs-9">
            <br />
            <br />
            <text style="color:white; font-size:30px">Let's Go Travel</text>
        </div>
        <div class="col-xs-3" style=" text-align:right">
            <img src="~/Content/img/Travel icon 1.png" style="height:100px" />
        </div>
    </div>
</a>
<br />
<a href="/List/Weather">
    <div class="container rounded" style="background-color: mediumaquamarine">
        <div class="col-xs-9">
            <br />
            <br />
            <text style="color:white; font-size:30px">Weather Forecast</text>
        </div>
        <div class="col-xs-3" style=" text-align:right">
            <img src="~/Content/img/weather icon.png" style="height:100px" />
        </div>
    </div>
</a>
<br />
<a href="/List/Funny">
    <div class="container rounded" style="background-color: mediumaquamarine">
        <div class="col-xs-9">
            <br />
            <br />
            <text style="color:white; font-size:30px">Funny Videos</text>
        </div>
        <div class="col-xs-3" style=" text-align:right">
            <img src="~/Content/img/funny icon.png" style="height:100px" />
        </div>
    </div>
</a>
