
@{
    ViewBag.Title = "Beauty";
}
<br />
<div class="container" style="text-align:center">
    <img src="~/Content/img/beauty icon2.png" height="200px" />
</div>
<hr style="border-color:black" />

<div class="row">
    <div class="col-xs-10">
        <h2 style="color:mediumaquamarine">Tool Tips :</h2>
    </div>
    <div class="col-xs-2">
        <br />
        <a href="/Home/"><button type="button" class="btn btn-warning">Back</button></a>
    </div>
</div>

    <br />
    <!-- Loop Start-->
    <div class="row">
        <a href="~/Contents/Beauty">
            <div class="col-xs-4" style="text-align:center">
                <img src="~/Content/img/beauty icon.png" height="120px" />
                <br />
                Remove Dead Skin Good
            </div>
        </a>
        <a href="~/Contents/Beauty">
            <div class="col-xs-4" style="text-align:center">
                <img src="~/Content/img/beauty icon.png" height="120px" />
                <br />
                Remove Dead Skin Good
            </div>
        </a>
        <a href="~/Contents/Beauty">
            <div class="col-xs-4" style="text-align:center">
                <img src="~/Content/img/beauty icon.png" height="120px" />
                <br />
                Remove Dead Skin Good
            </div>
        </a>
    </div>
    <!-- Loop End-->

