@model IEnumerable<FunspazPortal.Models.content>
@{
    ViewBag.Title = "Beauty";
}
<br />
<div class="container" style="text-align:center">
    <img src="~/Content/img/beauty icon2.png" height="200px" />
</div>
<hr style="border-color:black" />

<div class="row">
    <div class="col-xs-10">
        <h2 style="color:mediumaquamarine">Tool Tips :</h2>
    </div>
    <div class="col-xs-2">
        <br />
        <a href="/Home/"><button type="button" class="btn btn-warning">Back</button></a>
    </div>
</div>

<br />
<!-- Loop Start-->
<div class="row">

    @foreach (var item in Model)
    {
        <a href="~/Contents/Beauty">
            <div class="col-xs-4" style="text-align:center">
                <img src="http://13.229.5.209:8090/UploadedFilesIcon/@Html.DisplayFor(modelItem => item.icon)" height="120px" />
                <br />
                @Html.DisplayFor(modelItem => item.title)
            </div>
        </a>
    }

</div>
<!-- Loop End-->



